footer {
  background-color: #313130;
  color: white;
  margin-bottom: 1rem;
  width: 100%;

  margin-top: auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.email i,
.telephone i {
  margin-right: 1rem;
  color: #0eb2e7
}

.contact-info hr {
  width: 50px;
  border: 1px solid #0eb2e7;
  opacity: 1;
}

.schedule {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.schedule div:nth-child(odd) {
  font-weight: bold;
}

.email a,
.telephone a {
  text-decoration: none; 
  color: white;
}

.telephone a {
  font-weight: bold;
}

.copyright {
  text-align: center;
  background-color: white;
  color: #313130;
  margin-bottom: 1rem;
}

.hideInfoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 765px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .contact-info {
    width: 80%;
  }
}
