.container {
  /* margin: 3rem auto; */
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.text-style {
  text-align: center;
}

.horizontal-line {
  opacity: 1;
  border: 0;
  clear: both;
  display: block;
  width: 40px;
  background-color: #0eb2e7;
  height: 3px;
}

@media (max-width: 768px) {
  .header {
    width: 80%;
  }
}
