.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  width: auto;
  font-size: 40px;
  top: 0;
  padding: 0;
}

.alice-carousel__prev-btn {
  left: 0;
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {
  color: grey;
}

.alice-carousel__prev-btn-item:hover, .alice-carousel__next-btn-item:hover {
  color: #0eb2e7;
}

.alice-carousel__next-btn {
  right: 0;
}

@media (min-width: 1024px) {
  .alice-carousel__dots {
    display: none;
  }
}