@media (min-width: 1024px) {
  .alice-carousel__dots {
    display: none;
  }

  .alice-carousel {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .alice-carousel__prev-btn, .alice-carousel__next-btn {
    display: none;
  }
}