body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  scroll-behavior: smooth;
}

.anchor-link {
  color: #323232;
  text-decoration: none; /* no underline */
}

.anchor-link:hover {
  color: white;
}

.anchor-link:focus {
  text-decoration: underline;
}

#about-us,
#services,
#pricing,
#what-clients-say {
  padding-top: 9rem;
  margin-top: -9rem;
}

