.container {
  display: flex;
}

.about-us {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  
  background-color: white;
}

.container-of-four {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  margin: 1rem;
}

.man-cleaning {
  height: auto;
  max-width: 50%;
  overflow: hidden;
}

@media (max-width: 1365px) {
    .container-of-four {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .about-us {
      padding: 3rem;
    }
}

@media (max-width: 1000px) {
  .man-cleaning {
    display: none;
  }

  .about-us {
    width: 100%;
  }
}

