.strip, .details {
  display: flex;
  align-items: center;
}

.stip {
  position: relative;
}

.details {
  margin-left: 20px;
  position: sticky;
  top: 0;
}

.details a {
  text-decoration: none;
  color: black;
}

.bubble {
  height: 10px;
  width: 10px;
  margin: 0 10px;
  background-color: #BBBBBB;
  border-radius: 50%;
}

.strip i {
  color: #0eb2e7;
  margin-right: 5px;
}

.strip {
  height: 80px;
}
