.parallax {
  /* The image used */
  background-image: url("https://firebasestorage.googleapis.com/v0/b/cleaning-company-f9b3e.appspot.com/o/woman_cleaning_the_floor.png?alt=media&token=864a0b93-5cd2-49af-9eac-531754e924e2");

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.services-contaier {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* width: 80%; */
  width: max-content;
  grid-gap: 1px;
  margin: 3rem auto;
}

.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 765px) and (max-width: 1000px) {
  .services-contaier {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 764px) {
  .services-contaier {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

.title-style {
  color: white;
}

.text-style {
  width: 50%;
  text-align: center;
}

.horizontal-line {
  opacity: 1;
  border: 0;
  clear: both;
  display: block;
  width: 40px;
  background-color: #0eb2e7;
  height: 3px;
}

.first-card, .second-card {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.third-card {
  border-bottom: 1px solid white;
}

.fourth-card, .fifth-card {
  border-right: 1px solid white;
}